<a href="https://colab.research.google.com/github/sunheehee/final_prj/blob/main/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/LIKELION_데이터분석/finalproject/globalterrorismdb_0718dist.csv', encoding='LATIN1')
df.head()

In [ ]:
df['iyear'].unique()

In [ ]:
df = df[df['iyear'] >= 2013]
df.head()

In [ ]:
df.to_csv('/content/globalterrorism_2013_after.csv', index=False, encoding='utf-8-sig')

# 데이터 로드

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/LIKELION_데이터분석/finalproject/globalterrorism_2013_after.csv')
df.head()

<ipython-input-3-45fae2bd9a2d>:1: DtypeWarning: Columns (63,79,114,115) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/drive/MyDrive/LIKELION_데이터분석/finalproject/globalterrorism_2013_after.csv')

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,201301010001,2013,1,1,NaN,0,NaN,153,Pakistan,6,...,NaN,"""Explosive device defused in Bannu,"" The News ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
1,201301010002,2013,1,1,NaN,0,NaN,95,Iraq,10,...,Casualty numbers for this incident represent a...,"""Deadly bombing leaves destruction in Kirkuk,""...","""Iraq bomb kills one,"" ITN, January 2, 2013.","""Deadly Iraq bombings near Kirkuk - video,"" St...",START Primary Collection,-9,-9,0,-9,"201301010002, 201301010003"
2,201301010003,2013,1,1,NaN,0,NaN,95,Iraq,10,...,Casualty numbers for this incident represent a...,"""Deadly bombing leaves destruction in Kirkuk,""...","""Iraq bomb kills one,"" ITN, January 2, 2013.","""Deadly Iraq bombings near Kirkuk - video,"" St...",START Primary Collection,-9,-9,0,-9,"201301010002, 201301010003"
3,201301010004,2013,1,1,NaN,0,NaN,95,Iraq,10,...,Casualty numbers for this incident conflict ac...,"""2 cops wounded by explosion mid Kirkuk,"" Aswa...","""Iraqi forces arrest al-Qaeda terrorists,"" IRI...","""Policeman killed, another wounded in Kirkuk,""...",START Primary Collection,-9,-9,0,-9,NaN
4,201301010005,2013,1,1,NaN,0,NaN,153,Pakistan,6,...,NaN,"""Tragedy averted: 5kg bomb defused near po...","""BDS defuses two bombs in Orangi and Steel Tow...","""Bombs defused in Orangi, Steel Town,"" The New...",START Primary Collection,0,0,0,0,NaN

In [ ]:
df.describe()

,eventid,iyear,imonth,iday,extended,resolution,country,region,latitude,longitude,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,6.839100e+04,68391.000000,68391.000000,68391.000000,68391.000000,0.0,68391.00000,68391.000000,67964.000000,67964.000000,...,3.540000e+02,3.530000e+02,3.530000e+02,353.000000,5762.000000,5763.000000,68391.00000,68391.000000,68391.000000,68391.000000
mean,2.014984e+11,2014.918293,6.432001,15.788452,0.064482,NaN,124.35626,8.272697,26.308862,51.453788,...,2.191035e+06,1.872437e+04,8.459119e+05,27.767705,4.796946,-34.973104,-4.78503,-4.644427,0.062523,-4.354813
std,1.333243e+08,1.334403,3.396065,8.799554,0.245612,NaN,94.55374,2.317143,13.184468,32.897816,...,1.592586e+07,3.512815e+05,1.464149e+07,532.328245,1.999498,68.966354,4.52305,4.682352,0.242105,4.718135
min,2.013010e+11,2013.000000,1.000000,1.000000,0.000000,NaN,4.00000,1.000000,-42.884049,-124.224996,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.00000,-9.000000,0.000000,-9.000000
25%,2.014042e+11,2014.000000,4.000000,8.000000,0.000000,NaN,92.00000,6.000000,15.325443,37.762325,...,-9.900000e+01,0.000000e+00,-9.900000e+01,0.000000,3.000000,-99.000000,-9.00000,-9.000000,0.000000,-9.000000
50%,2.015043e+11,2015.000000,6.000000,16.000000,0.000000,NaN,97.00000,10.000000,32.301609,44.375465,...,1.647653e+04,0.000000e+00,-9.900000e+01,0.000000,5.000000,0.000000,-9.00000,-9.000000,0.000000,-9.000000
75%,2.016071e+11,2016.000000,9.000000,23.000000,0.000000,NaN,160.00000,10.000000,34.208416,69.273331,...,1.918028e+05,0.000000e+00,0.000000e+00,0.000000,7.000000,1.000000,0.00000,0.000000,0.000000,0.000000
max,2.017123e+11,2017.000000,12.000000,31.000000,1.000000,NaN,1004.00000,12.000000,65.825119,176.986756,...,2.000000e+08,6.600000e+06,2.750000e+08,10000.000000,7.000000,2769.000000,1.00000,1.000000,1.000000,1.000000

In [ ]:
df.isnull().sum()

eventid           0
iyear             0
imonth            0
iday              0
approxdate    59823
              ...
INT_LOG           0
INT_IDEO          0
INT_MISC          0
INT_ANY           0
related       55972
Length: 135, dtype: int64

In [ ]:
# 1. 결측치 비율 계산
missing_ratio = df.isnull().mean()

# 2. 비율이 0.8 이상인 컬럼 리스트
cols_to_drop = missing_ratio[missing_ratio >= 0.8].index

# 3. 해당 컬럼 제거
df = df.drop(columns=cols_to_drop)

In [ ]:
print(f"삭제된 컬럼 수: {len(cols_to_drop)}개")
print("삭제된 컬럼 이름:", list(cols_to_drop))
print(df.shape)

삭제된 컬럼 수: 69개
삭제된 컬럼 이름: ['approxdate', 'resolution', 'alternative', 'alternative_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain2', 'guncertain3', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'related']
(68391, 66)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68391 entries, 0 to 68390
Data columns (total 66 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   eventid           68391 non-null  int64
 1   iyear             68391 non-null  int64
 2   imonth            68391 non-null  int64
 3   iday              68391 non-null  int64
 4   extended          68391 non-null  int64
 5   country           68391 non-null  int64
 6   country_txt       68391 non-null  object
 7   region            68391 non-null  int64
 8   region_txt        68391 non-null  object
 9   provstate         68389 non-null  object
 10  city              68391 non-null  object
 11  latitude          67964 non-null  float64
 12  longitude         67964 non-null  float64
 13  specificity       68391 non-null  float64
 14  vicinity          68391 non-null  int64
 15  location          30117 non-null  object
 16  summary           68391 non-null  object
 17  crit1             68391 non-null  int64
 18  crit2             68391 non-null  int64
 19  crit3             68391 non-null  int64
 20  doubtterr         68390 non-null  float64
 21  multiple          68390 non-null  float64
 22  success           68391 non-null  int64
 23  suicide           68391 non-null  int64
 24  attacktype1       68391 non-null  int64
 25  attacktype1_txt   68391 non-null  object
 26  targtype1         68391 non-null  int64
 27  targtype1_txt     68391 non-null  object
 28  targsubtype1      63561 non-null  float64
 29  targsubtype1_txt  63561 non-null  object
 30  corp1             68391 non-null  object
 31  target1           68391 non-null  object
 32  natlty1           67541 non-null  float64
 33  natlty1_txt       67541 non-null  object
 34  gname             68391 non-null  object
 35  guncertain1       68391 non-null  float64
 36  individual        68391 non-null  int64
 37  nperps            68391 non-null  float64
 38  nperpcap          68391 non-null  float64
 39  claimed           68391 non-null  float64
 40  weaptype1         68391 non-null  int64
 41  weaptype1_txt     68391 non-null  object
 42  weapsubtype1      62037 non-null  float64
 43  weapsubtype1_txt  62037 non-null  object
 44  weapdetail        26853 non-null  object
 45  nkill             64820 non-null  float64
 46  nkillus           68380 non-null  float64
 47  nkillter          66951 non-null  float64
 48  nwound            62349 non-null  float64
 49  nwoundus          68368 non-null  float64
 50  nwoundte          65832 non-null  float64
 51  property          68391 non-null  int64
 52  propextent        23962 non-null  float64
 53  propextent_txt    23962 non-null  object
 54  propvalue         23962 non-null  float64
 55  propcomment       32427 non-null  object
 56  ishostkid         68391 non-null  float64
 57  addnotes          16321 non-null  object
 58  scite1            68391 non-null  object
 59  scite2            42435 non-null  object
 60  scite3            25313 non-null  object
 61  dbsource          68391 non-null  object
 62  INT_LOG           68391 non-null  int64
 63  INT_IDEO          68391 non-null  int64
 64  INT_MISC          68391 non-null  int64
 65  INT_ANY           68391 non-null  int64
dtypes: float64(21), int64(22), object(23)
memory usage: 34.4+ MB

In [ ]:
columns_to_drop = ['country', 'region', 'summary', 'targtype1', 'targsubtype1', 'natlty1']
df = df.drop(columns=columns_to_drop, errors='ignore')

In [ ]:
df.shape

(68391, 60)

In [ ]:
columns_to_drop = ['weaptype1','weapsubtype1','propextent']
df=df.drop(columns=columns_to_drop)
df.shape

(68391, 57)

In [ ]:
columns_to_drop = ['scite1','scite2','scite3']
df=df.drop(columns=columns_to_drop)
df.shape

(68391, 54)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68391 entries, 0 to 68390
Data columns (total 54 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   eventid           68391 non-null  int64
 1   iyear             68391 non-null  int64
 2   imonth            68391 non-null  int64
 3   iday              68391 non-null  int64
 4   extended          68391 non-null  int64
 5   country_txt       68391 non-null  object
 6   region_txt        68391 non-null  object
 7   provstate         68389 non-null  object
 8   city              68391 non-null  object
 9   latitude          67964 non-null  float64
 10  longitude         67964 non-null  float64
 11  specificity       68391 non-null  float64
 12  vicinity          68391 non-null  int64
 13  location          30117 non-null  object
 14  crit1             68391 non-null  int64
 15  crit2             68391 non-null  int64
 16  crit3             68391 non-null  int64
 17  doubtterr         68390 non-null  float64
 18  multiple          68390 non-null  float64
 19  success           68391 non-null  int64
 20  suicide           68391 non-null  int64
 21  attacktype1       68391 non-null  int64
 22  attacktype1_txt   68391 non-null  object
 23  targtype1_txt     68391 non-null  object
 24  targsubtype1_txt  63561 non-null  object
 25  corp1             68391 non-null  object
 26  target1           68391 non-null  object
 27  natlty1_txt       67541 non-null  object
 28  gname             68391 non-null  object
 29  guncertain1       68391 non-null  float64
 30  individual        68391 non-null  int64
 31  nperps            68391 non-null  float64
 32  nperpcap          68391 non-null  float64
 33  claimed           68391 non-null  float64
 34  weaptype1_txt     68391 non-null  object
 35  weapsubtype1_txt  62037 non-null  object
 36  weapdetail        26853 non-null  object
 37  nkill             64820 non-null  float64
 38  nkillus           68380 non-null  float64
 39  nkillter          66951 non-null  float64
 40  nwound            62349 non-null  float64
 41  nwoundus          68368 non-null  float64
 42  nwoundte          65832 non-null  float64
 43  property          68391 non-null  int64
 44  propextent_txt    23962 non-null  object
 45  propvalue         23962 non-null  float64
 46  propcomment       32427 non-null  object
 47  ishostkid         68391 non-null  float64
 48  addnotes          16321 non-null  object
 49  dbsource          68391 non-null  object
 50  INT_LOG           68391 non-null  int64
 51  INT_IDEO          68391 non-null  int64
 52  INT_MISC          68391 non-null  int64
 53  INT_ANY           68391 non-null  int64
dtypes: float64(17), int64(18), object(19)
memory usage: 28.2+ MB

In [ ]:
df.isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country_txt             0
region_txt              0
provstate               2
city                    0
latitude              427
longitude             427
specificity             0
vicinity                0
location            38274
crit1                   0
crit2                   0
crit3                   0
doubtterr               1
multiple                1
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1_txt           0
targsubtype1_txt     4830
corp1                   0
target1                 0
natlty1_txt           850
gname                   0
guncertain1             0
individual              0
nperps                  0
nperpcap                0
claimed                 0
weaptype1_txt           0
weapsubtype1_txt     6354
weapdetail          41538
nkill                3571
nkillus                11
nkillter             1440
nwound               6042
nwoundus               23
nwoundte             2559
property                0
propextent_txt      44429
propvalue           44429
propcomment         35964
ishostkid               0
addnotes            52070
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
dtype: int64

In [ ]:
columns_to_drop = ['location']
df=df.drop(columns=columns_to_drop)
df.shape

(68391, 53)

In [ ]:
df = df.dropna(subset=['latitude', 'longitude'])

In [ ]:
df.shape

(67964, 53)

In [ ]:
columns_to_drop = ['addnotes']
df=df.drop(columns=columns_to_drop)
df.isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country_txt             0
region_txt              0
provstate               2
city                    0
latitude                0
longitude               0
specificity             0
vicinity                0
crit1                   0
crit2                   0
crit3                   0
doubtterr               1
multiple                1
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1_txt           0
targsubtype1_txt     4785
corp1                   0
target1                 0
natlty1_txt           837
gname                   0
guncertain1             0
individual              0
nperps                  0
nperpcap                0
claimed                 0
weaptype1_txt           0
weapsubtype1_txt     6226
weapdetail          41223
nkill                3513
nkillus                10
nkillter             1432
nwound               5969
nwoundus               22
nwoundte             2547
property                0
propextent_txt      44126
propvalue           44126
propcomment         35698
ishostkid               0
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
dtype: int64

In [ ]:
columns_to_drop = ['weapdetail']
df=df.drop(columns=columns_to_drop)
df.isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country_txt             0
region_txt              0
provstate               2
city                    0
latitude                0
longitude               0
specificity             0
vicinity                0
crit1                   0
crit2                   0
crit3                   0
doubtterr               1
multiple                1
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1_txt           0
targsubtype1_txt     4785
corp1                   0
target1                 0
natlty1_txt           837
gname                   0
guncertain1             0
individual              0
nperps                  0
nperpcap                0
claimed                 0
weaptype1_txt           0
weapsubtype1_txt     6226
nkill                3513
nkillus                10
nkillter             1432
nwound               5969
nwoundus               22
nwoundte             2547
property                0
propextent_txt      44126
propvalue           44126
propcomment         35698
ishostkid               0
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
dtype: int64

In [ ]:
df_num = df.select_dtypes(include='number')
df_num.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
extended           0
latitude           0
longitude          0
specificity        0
vicinity           0
crit1              0
crit2              0
crit3              0
doubtterr          1
multiple           1
success            0
suicide            0
attacktype1        0
guncertain1        0
individual         0
nperps             0
nperpcap           0
claimed            0
nkill           3513
nkillus           10
nkillter        1432
nwound          5969
nwoundus          22
nwoundte        2547
property           0
propvalue      44126
ishostkid          0
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
dtype: int64

In [ ]:
df.to_csv('terror_cleaned.csv',index=False, encoding='utf-8-sig')